String

In [ ]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라'

# -------------------------


#1 tale 을 출력하시오
txt1[4:8]
#2 '지'를 출력하시오
txt2[5]
#3 'a'는 몇 개가 존재하는가?
txt1.count('a')
#❗4  txt1에서 모음의 갯수는 몇 개인가?
suma = 0
for c in txt1:
    if c in 'aeiouAEIOU':
        suma += 1
suma
#5 '또한'을 '것도' 로 수정하시오
txt2.replace('또한','것도')
#6 txt1을 대문자로 출력하시오.
txt1.upper()
#7 txt1에서 right는 몇번째 인덱스에 등장하는가?
txt1.find('right')
#8 txt1을 space를 기준으로 나누어서 리스트에 담으시오
txt1.split(" ")
#9 txt2의 길이는 얼마인가?
len(txt2)
#❗10 txt2를 character 단위로 나누어서 리스트에 담으시오
list(txt2)
#❗11 txt1의 좌우 공백을 제거하시오
txt1.strip()
#❗12 txt2를 역순으로 출력하시오
txt2[::-1]
#❗13 txt1에서 짝수 인덱스만 출력하시오
txt1[0:len(txt1):2]
#14 txt2를 두번 반복하시오
txt2*2
#15 txt1과 txt2를 연결하여 하나의 문자열로 만드시오
txt1 + txt2
#16 txt1에서 'right' 이 존재하는지 확인하시오
'right' in txt1
#17 txt1에서 뒤에서 5번쨰 문자를 출력하시오
txt1[-5]
#❗18 txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오
[(i,c) for i , c in enumerate(txt1)]

In [16]:
url = 'http://www.naver.com/news/today=20221230'
#❗1 url 중 도메인만 출력하시오 (split 사용)
url.split('/')[2]


#❗2
log = 'name : 홍길동 ,age : 17 ,sex: 남성, nation : 대한민국'
# 아래와 같이 출력하세요
# name   : 홍길동
# age    : 17
# sex    : 남성
# nation : 대한민국
for i in log.split(","):
    name = i.split(':')[0].strip()
    age = i.split(':')[1].strip()

7