# Str

In [ ]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라'


#❗4  txt1에서 모음의 갯수는 몇 개인가?
#❗10 txt2를 character 단위로 나누어서 리스트에 담으시오)
#❗11 txt1의 좌우 공백을 제거하시오
#❗12 txt2를 역순으로 출력하시오
#❗13 txt1에서 짝수 인덱스만 출력하시오
#❗18 txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오

url = 'http://www.naver.com/news/today=20221230'
#❗ url 중 도메인만 출력하시오 (split 사용)

#❗
log = 'name : 홍길동 ,age : 17 ,sex: 남성, nation : 대한민국'
# 아래와 같이 출력하세요
# name   : 홍길동
# age    : 17
# sex    : 남성
# nation : 대한민국

# List

In [ ]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3)]


# ❗마지막에서 2번째 요소를 내림차순으로 정렬하시오
# 90은 몇 번째 인덱스에 있는지 확인하시오
# ❗리스트를 역순으로 정렬하시오
# ❗3번째 인덱스에 'sea'를 추가하시오
# ❗True를 False로 수정하시오
# ❗'world'를 제거하시오
# ❗7번쨰 요소를 제거하시오
# ❗마지막 요소를 제거하시오
# ❗❗[78, 56, 32]를 '78:56:32' 로 수정하시오