In [1]:
import pandas as pd
import numpy as np

In [10]:
# Salaries1.csv 파일을 dataframe으로 읽으시오
df = pd.read_csv('C:/Python/python310/BITCAMP/Pan/Salaries1.csv')
df.head(1)

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [42]:

# BasePay 의 평균은 얼마인가.
df['BasePay'].mean()

75601.1371462

In [43]:

# OvertimePay의 최대값은?
df['OvertimePay'].max()

245131.88

In [ ]:
df.max() # 칼럼 전체에 적용됨

In [ ]:
df['OvertimePay'].apply(max) # 칼럼에 apply를 적용할때는 각 element 마다 apply 가 적용됨.

In [ ]:
df.apply(max) # 칼럼 기준으로 apply 적용.

In [51]:
# 'JOSEPH DRISCOLL'의 JOB TITLE은? = CAPTAIN, FIRE SUPPRESSION
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [55]:

# TotalPayBenefits의 최고금액을 수령하는 사람의 이름은? NATHANIEL FORD
df.sort_values('TotalPayBenefits', ascending = False).iloc[0]['EmployeeName']

'NATHANIEL FORD'

In [57]:

# BasePay의 연도별 평균금액은?
df.groupby('Year')['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

In [41]:

# JobTitle에서 가장 많은 Job 상위 5개?
job = df.groupby('JobTitle')
job.get_group

In [ ]:
# 2013년도에 오직 한 사람만이 수행하는 job의 갯수는?
df.groupby('JobTitle')
# 'Chief' 라는 직업을 가진 사람의 수?

In [62]:
# 2011년도에 오직 한 사람만이 수행하는 Job의 갯수는?
sum(df[df['Year'] == 2011]['JobTitle'].value_counts()==1)

200

In [68]:
# Chief 라는 직업을 가진 사람의 수?
job = df['JobTitle'].apply(lambda x: x.lower()) # 일단 소문자 통일

total = 0
for t in job:
    if 'chief' in t: # 이름이 chief 면 Total += 1
        total += 1
total

318

In [73]:
sum(df['JobTitle'].apply(lambda x: x.lower()).str.contains('chief'))

318