In [3]:
import pandas as pd
import numpy as np

In [9]:
wh = pd.read_csv('C:/Python/python310/BITCAMP/Pan/seoul_weather.csv' ,encoding ='cp949',skiprows=11)
wh.head(2)

   \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0       108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1       108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN

In [26]:
# 역대 최고기온인 날의 날짜는?
wh[wh['최고기온(℃)'] == 39.6]['일시']

40051    2018-08-01
Name: 일시, dtype: object

In [27]:

# 일교차가 가장 큰 월은 언제인가?
wh[wh['최고기온(℃)'] - wh['최저기온(℃)']].max()

# 월교차가 가장 큰 월은?